.favorites-container {
  min-height: 100vh;
  background: #c8ae89;
  padding: 40px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.favorites-container h2 {
  margin-bottom: 35px;
  font-size: 42px;
  color: #222;
  font-weight: 700;
}

/* GRID */
.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 320px));
  gap: 30px;
  justify-content: center;
}

/* CARD */
.card {
  background: white;
  border-radius: 22px;
  padding: 20px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.1);

  transition: 0.35s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

/* IMAGE */
.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 16px;

  transition: 0.3s;
}

.card:hover img {
  transform: scale(1.03);
}

/* TEXT */
.card h3 {
  margin: 18px 0 10px;
  color: #222;
  font-size: 28px;
  font-weight: 600;
}

.card p {
  color: #666;
  margin-bottom: 18px;
  font-size: 16px;
}

/* BUTTON */
.remove-btn {
  background: #ff5e62;
  color: white;
  border: none;

  padding: 12px 22px;
  border-radius: 12px;

  cursor: pointer;

  transition: 0.3s ease;

  font-size: 15px;
  font-weight: 600;
}

.remove-btn:hover {
  background: #ff3d44;
  transform: translateY(-2px);
}

/* EMPTY STATE */
.empty-text {
  margin-top: 50px;
  font-size: 28px;
  color: #721212;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .favorites-container {
    padding: 30px 15px;
  }

  .favorites-container h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .recipes-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .card {
    max-width: 95%;
    margin: auto;
    padding: 18px;
  }

  .card img {
    height: 210px;
  }

  .card h3 {
    font-size: 24px;
  }

  .card p {
    font-size: 15px;
  }

  .remove-btn {
    width: 100%;
    padding: 12px;
  }

  .empty-text {
    font-size: 22px;
  }
}