/* ===== PAGE ===== */
.home-container {
  padding: 40px 20px;
  text-align: center;
  background: #c8ae89;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* ===== HERO ===== */
.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero p {
  color: #721212;
  margin-bottom: 20px;
}

/* ===== STATS ===== */
.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0;
}

.stat-box {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.stat-box h3 {
  margin: 0;
  color: #ff5e62;
}

.stat-box p {
  margin: 5px 0 0;
  font-size: 14px;
}

/* ===== SEARCH ===== */
.search-box input {
  padding: 12px;
  width: 260px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.search-box input:focus {
  border-color: #ff5e62;
  box-shadow: 0 0 5px rgba(255, 94, 98, 0.3);
}

/* ===== FILTER ===== */
.filter-buttons {
  margin: 20px 0;
}

.filter-buttons button {
  margin: 5px;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background: #eee;
  cursor: pointer;
}

.filter-buttons .active {
  background: #ff5e62;
  color: white;
}

/* ===== GRID ===== */
.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 300px));
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
}

/* ===== CARD ===== */
.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* ===== IMAGE ===== */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

/* ===== TEXT ===== */
.card h3 {
  margin: 10px 0 5px;
}

.card p {
  color: #777;
}

/* ===== FAVORITE ===== */
.fav-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* ===== RATING ===== */
.rating span {
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
}

/* ===== DELETE ===== */
.delete-btn {
  margin-top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}