.home-container {
  padding: 20px;
  text-align: center;
}

.recipes-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.fav-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}